[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pdbpp = "*"

[packages]
mysqlclient = "==1.4.6"
djangorestframework = "==3.11.2"
django-filter = "==2.4.0"
channels = "==2.4.0"
channels-redis = "==2.4.2"
pytz = "*"
Django = "==3.1.14"
Markdown = "==3.2.1"
